*{
  font-family: arial, helvetica , sans-serif;

}
body{
    background-color: black;
}
.header{
  border-radius: 8px;
  font-size: 1.5em;
  border-color: black;
  border-style: solid;
  border-top: 30px;
  color: white;
  vertical-align: middle;
  text-align: center;
  height: 50px;
  margin-bottom: 5px;

  p{
    font-size: 55px;
  }
}


.music{

    a{
      text-decoration: none;
      font-weight: 300;
      margin: 0 auto;
      color:white;
      font-size: 18px;
      img{
        width: 20px;
        height: 20px;
      }
    }
    a:hover{
      font-weight: 700;
      color:white;
    }



}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.contact{
  border-radius: 8px;
  font-size: 20px;
  border-color: black;
  border-style: solid;
  border-top: 30px;
  color: white;
  vertical-align: middle;
  text-align: center;
  height: 70px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  p{
    font-size: 20px;
  }
}
@media only screen and (max-device-width: 700px) {
  *{
    font-family: arial, helvetica , sans-serif;

  }
  body{
      background-color: black;
  }
  .header{
    border-radius: 8px;
    font-size: 1.5em;
    border-color: black;
    border-style: solid;
    border-top: 30px;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 70px;
    margin-bottom: 10px;
    padding-bottom: 10px;

    p{
      font-size: 100px;
    }
  }


  .music{

      a{
        text-decoration: none;
        font-weight: 300;
        margin: 0 auto;
        color:white;
        font-size: 70px;

        img{
          width: 60px;
          height: 60px;
        }
      a:hover{
        font-weight: 700;
        color:white;
      }

}

  }
  .video-container {
  	position:relative;
  	padding-bottom:56.25%;
  	padding-top:30px;
  	height:0;
  	overflow:hidden;
  }

  .video-container iframe, .video-container object, .video-container embed {
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  }
  .contact{
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    border-top: 30px;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 70px;
    margin-bottom: 10px;
    padding-bottom: 10px;

    p{
      font-size: 70px;
      font-weight: 300;
    }
  }
}
